<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%-15thread] %highlight(%-5level) %yellow(%-40logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="Console" />
    </root>

    <logger name="me.kmilo.chatilo" level="DEBUG" />
    <logger name="org.hibernate.SQL" level="DEBUG" />

    <logger name="org.springframework" level="DEBUG" />
    <logger name="org.apache.coyote.http11.Http11InputBuffer" level="DEBUG" />
    <logger name="org.apache.catalina.valves.RemoteIpValve" level="DEBUG" />
    <logger name="org.springframework.web.servlet.DispatcherServlet" level="DEBUG" />

</configuration>